@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body {
  font-family: 'Inter';
  font-weight: 800;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width:600px;
  margin-left: auto;
  margin-right: auto;
}
